<div id="<%= dom_id standing %>">
  <p>
    <strong>Competition:</strong>
    <%= standing.competition_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= standing.team_id %>
  </p>

  <p>
    <strong>Games:</strong>
    <%= standing.games %>
  </p>

  <p>
    <strong>Wins:</strong>
    <%= standing.wins %>
  </p>

  <p>
    <strong>Scored for:</strong>
    <%= standing.scored_for %>
  </p>

  <p>
    <strong>Scored against:</strong>
    <%= standing.scored_against %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= standing.points %>
  </p>

</div>
