<div id="<%= dom_id game %>">
  <p>
    <strong>Id:</strong>
    <%= game.id %>
  </p>

  <p>
    <strong>Gameday:</strong>
    <%= game.gameday %>
  </p>

  <p>
    <strong>Gametime:</strong>
    <%= game.gametime %>
  </p>

  <p>
    <strong>Hometeam:</strong>
    <%= game.hometeam %>
  </p>

  <p>
    <strong>Awayteam:</strong>
    <%= game.awayteam %>
  </p>

</div>
