<p>
  <%= form_with(model: @competition) do |form| %>
    <%= form.select :competition_id, options_from_collection_for_select(@competitions, :id, :name) %>
    <%= form.submit %>
  <% end %>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Games</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Scored for</th>
      <th>Scored against</th>
      <th>Points</th>
    </tr>
  </thead>
  <% @standings.each do |row| %>
    <tr>
      <td><%= row[1][:name] %></td>
      <td><%= row[1][:games] %></td>
      <td><%= row[1][:wins] %></td>
      <td><%= row[1][:losses] %></td>
      <td><%= row[1][:scored_for] %></td>
      <td><%= row[1][:scored_against] %></td>
      <td><%= row[1][:points] %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= raw(@game_script) %>
</p>